html {
  scroll-behavior: smooth;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.container-center {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
